* {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 110px;
    color: #000000;
}

.one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
    padding-top: 20px;
}

.one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    margin-right: -14px;
    background-color: #b80000;
}

.one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
}

.menu {
    text-align: center;
    align-self: center;
    padding: 10px;
    width: 55%;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .menu {
        width: max-content;
    }
}

@media only screen and (min-device-width : 360px) and (max-device-width : 720px) {
    .menu {
        width: auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-self: center;
        text-align: center;
    }
}

mat-card {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    text-align: center;
    border-radius: 0px;
    width: 450px;
    background: #ffda84;
    box-shadow: inset 5px 5px 10px #665214,
        inset -5px -5px 10px #9d7d1d;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.down-button,
.up-button,
.searchbar-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    text-align: center;
    flex-direction: row;
}

.down-button {
    button {
        margin-bottom: 80px;
    }
}

.up-button {
    button {
        margin-top: 40px;
    }
}

.searchbar {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    width: 400px;
    border-radius: 15px;
}